	html, body {
		font-family: Arial, sans-serif;
		margin: 0;
	}

	header {
		background-color: lightblue;
		padding: 40px;
		text-align: center;
		background-image: url("http://40.media.tumblr.com/1c7ad137dc17092a17b36a6f39ac184f/tumblr_n5w1ygIiVU1qdd6mxo1_500.jpg");
   		background-repeat: repeat;
	}

	h1 {
		font-size: 90px;
		color: white;
		text-shadow: 0 4px 20px black;
	}

	h2 {
		color: goldenrod;
		text-decoration: underline;
	}

	header img {
		border-radius: 250px;
		border: 17px solid goldenrod;
		box-shadow: 0 4px 20px black;
	}

	.content {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 20px;
	}

	img.big-image {
		max-width: 100%;
		padding: 10px 0px 0px 0px;
	}

	p.caption {
		font-size: 16px;
		color: lightgrey;
		font-style: italic;
	}

	ol {
		list-style: none;
		padding: 10px;
		margin: 0;
	}

	ul {
		margin: 0px;
		list-style: decimal-leading-zero;
	}

	footer ul li {
		display: inline;
		margin: 0 5px;
		text-align: center;
	}

	a {
		color: olive;
		text-decoration: none;
	}

	footer {
		padding: 40px 20px;
		background-color: #E6E6E6;
	}
	/*<header>
		<img src="img/profile.jpg">
		<h1>Finn The Human</h1>
	</header>*/